force-app/main/default/flows/College_Accd_Budge_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Discount_Value</name>
        <label>Update Discount Value to 999</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_All_student.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>999.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_the_Student_Record_less_then_100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_value_t_o_2000</name>
        <label>Updated value to 2000</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_All_student.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_discount_less_then_100</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>discount_of_students</name>
        <label>discount of students</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_All_student</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discountgreater100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_student.Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Discount_Value</targetReference>
            </connector>
            <label>Discount greater 100</label>
        </rules>
        <rules>
            <name>Discount_less_then_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_student.Discount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_value_t_o_2000</targetReference>
            </connector>
            <label>Discount  less then 100</label>
        </rules>
    </decisions>
    <description>Get All students - SUBFLOW</description>
    <environments>Default</environments>
    <interviewLabel>College Accd Budge Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>College Accd Budge Flow</label>
    <loops>
        <name>Loop_All_student</name>
        <label>Loop All  student</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Stnds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>discount_of_students</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Related Stnds wherefor this  coolege</description>
        <name>Get_Related_Stnds</name>
        <label>Get Related Stnds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_student</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>College__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Student__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_discount_less_then_100</name>
        <label>Update discount less then 100</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_All_student</targetReference>
        </connector>
        <inputReference>Loop_All_student</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_Student_Record_less_then_100</name>
        <label>update the Student Record  less then 100</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Subflow_Std_email</targetReference>
        </connector>
        <inputReference>Loop_All_student</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Stnds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Accreditation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Budget__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </filters>
        <object>College__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Sub_Email_College</name>
        <label>Sub Email College</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_All_student</targetReference>
        </connector>
        <flowName>subflow_for_email_alert_college</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Std_email</name>
        <label>Subflow Std email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sub_Email_College</targetReference>
        </connector>
        <flowName>SUbflow_Student_Email</flowName>
        <inputAssignments>
            <name>StudId</name>
            <value>
                <elementReference>Loop_All_student.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
