force-app/main/default/flows/College_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>X500_re</name>
        <label>&lt;500 re</label>
        <locationX>543</locationX>
        <locationY>817</locationY>
        <assignmentItems>
            <assignToReference>loop.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>555.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lessthen500cc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_less</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X500rec</name>
        <label>&gt;500rec</label>
        <locationX>1002</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>loop.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>999.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>m500</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_mire_500</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>X500</name>
        <label>&gt;500</label>
        <locationX>757</locationX>
        <locationY>750</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>less500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop.Discount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X500_re</targetReference>
            </connector>
            <label>less 500</label>
        </rules>
        <rules>
            <name>more_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop.Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X500rec</targetReference>
            </connector>
            <label>more 5</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>College Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>College Creation</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>768</locationX>
        <locationY>560</locationY>
        <collectionReference>Get_All_child_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>X500</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_child_records</name>
        <label>Get All child records</label>
        <locationX>765</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>College__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Student__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_mire_500</name>
        <label>update mire 500</label>
        <locationX>977</locationX>
        <locationY>994</locationY>
        <inputReference>m500</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_less</name>
        <label>Update Records less</label>
        <locationX>504</locationX>
        <locationY>1016</locationY>
        <inputReference>lessthen500cc</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_All_child_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Accreditation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Budget__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </filters>
        <object>College__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>lessthen500cc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Student__c</objectType>
    </variables>
    <variables>
        <name>m500</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Student__c</objectType>
    </variables>
</Flow>
