force-app/main/default/flows/Get_College_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>college_data</name>
        <label>college data</label>
        <locationX>616</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>CollegeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_college_record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>1 field only</description>
    <environments>Default</environments>
    <interviewLabel>Get College records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get College records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Identify a college by its name and college Id and return specific accreditation, affiliation, type, and ID fields. and return results only when customer provides a valid a  college Id</description>
        <name>Get_college_record</name>
        <label>Get college record</label>
        <locationX>616</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>college_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collegeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>College__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_college_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collegeId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>collegeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>College Name</stringValue>
        </value>
    </variables>
    <variables>
        <name>CollegeVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>College__c</objectType>
    </variables>
</Flow>
