force-app/main/default/flows/send_out_emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Outbound_college_data</name>
        <label>Outbound college data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>College__c.College_Data</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>send_out_email_when_college_are_created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>College__c.College_Data</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>send_out_email_when_college_are_created</name>
        <label>send out email when college are created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>College__c.Email_College_Alerts</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>College__c.Email_College_Alerts</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>send out emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>send out emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Outbound_college_data</targetReference>
        </connector>
        <object>College__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
