force-app/main/default/flows/zzz.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign500</name>
        <label>500</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sss.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>500</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>u5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X3</name>
        <label>3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sss.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>300</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fff</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ddd</name>
        <label>dd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>sss</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sss.Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign500</targetReference>
            </connector>
            <label>500</label>
        </rules>
        <rules>
            <name>X300</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sss.Discount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X3</targetReference>
            </connector>
            <label>300</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>zz {!$Flow.CurrentDateTime}</interviewLabel>
    <label>zz</label>
    <loops>
        <name>sss</name>
        <label>ss</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Records_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ddd</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_1</name>
        <label>Get Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>College__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Student__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>fff</name>
        <label>ff</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sss</targetReference>
        </connector>
        <inputReference>sss</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>u5</name>
        <label>u5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>sss</targetReference>
        </connector>
        <inputReference>sss</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Accreditation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Budget__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </filters>
        <object>College__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
